<div class="card">

    <div class="card-header">
       <b>Informations personnelles</b> 
    </div>

    <form 
      #agentProfile="ngForm" 
      (ngSubmit)="onSubmit(agentProfile.value)" 
      class="card-body">
        
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="inputNom4">Nom *</label>
                <input              
                type="text" 
                class="form-control" 
                id="inputNom4"
                required
                ngModel
                name="surname"                            
                #surname="ngModel"  
                minlength="3"
                maxlength="25"
                > 
                <div 
                    class="alert alert-danger" 
                    *ngIf="surname.touched &&!surname.valid">
                        <div  *ngIf="surname?.errors?.['required']">
                            enter Votre nom!
                        </div>
                        <div *ngIf="surname?.errors?.['minlength']">
                            nom est moin de 3 caracteres!
                        </div>
                </div>       
            </div>
            <div class="form-group col-md-6">
                <label for="inputPrenom4">Prenom *</label>
                <input 
                required
                type="text" 
                class="form-control" 
                id="inputPrenom4"
                ngModel
                name="name"  
                #name="ngModel"  
                minlength="3"
                maxlength="25"
                /> 
                <div 
                    class="alert alert-danger" 
                    *ngIf="name.touched &&!name.valid">
                        <div  *ngIf="name?.errors?.['required']">
                            enter Votre prenom!
                        </div>
                        <div *ngIf="name?.errors?.['minlength']">
                            prenom est moin de 3 caracteres!
                        </div>
                </div>       
            </div>
        </div>



        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="inputCinType">Pièce d'identité *</label>
                <select 
                required 
                id="inputCinType" 
               
              
                class="form-control">
                    <option selected>C.I.N</option>
                    <option>Passport</option>
                    <option>Autre</option>
                </select>
            </div>
           
            <div class="form-group col-md-6">
                <label for="inputPieceIdentite4">Nº pièce d'identité *</label>
                <input 
                required
                type="text" 
                class="form-control" 
                id="inputPieceIdentite4"
                ngModel
                name="cin"  
                #cinUrl="ngModel"           
                /> 
                <div 
                    class="alert alert-danger" 
                    *ngIf="cinUrl.touched &&!cinUrl.valid">
                        <div  *ngIf="cinUrl?.errors?.['required']">
                            enter le nº pièce d'identité!
                        </div>
                </div>       
            </div>
        </div>



        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="inputDateDeNaissance4">Date de naissance *</label>
                <input 
                class="form-control" 
                placeholder="YYYY-MM-DD"
                ngModel
                name="birthdate"
                type="date"    
                id="inputDateDeNaissance4"
                required >
            </div>
            <div class="form-group col-md-6">
                <label for="inputAdress4">Adress *</label>
                <input
                required 
                type="text" 
                class="form-control" 
                id="inputAdress4"
                ngModel
                name="address"
                >
            </div>
        </div>



        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="inputEmail4">Email *</label>
                <input 
                required 
                type="email" 
                class="form-control" 
                id="inputEmail4" 
                ngModel
                name="email"  
                #email="ngModel" 
                email          
                /> 
                <div 
                    class="alert alert-danger" 
                    *ngIf="email.touched &&!email.valid">
                        <div  *ngIf="email?.errors?.['required']">
                            enter votre e-mail!
                        </div>
                        <div *ngIf="email?.errors?.['email']">
                            enter un e-mail valid!
                        </div>
                       
                </div>       
            </div>
            <div class="form-group col-md-6">
                <label for="inputConfirmationEmail4">Confirmation Email *</label>
                <input 
                required
                type="email" 
                class="form-control" 
                id="inputConfirmationEmail4" 
                ngModel
                name="email"  
                #inputConfirmationEmail="ngModel" 
                email          
                /> 
                <div 
                    class="alert alert-danger" 
                    *ngIf="inputConfirmationEmail.touched &&!inputConfirmationEmail.valid">
                        <div  *ngIf="inputConfirmationEmail?.errors?.['required']">
                            comfirmer votre e-mail!
                        </div>
                        <div *ngIf="inputConfirmationEmail?.errors?.['email']">
                            enter un e-mail valid!
                        </div>
                        <div *ngIf="email?.value != inputConfirmationEmail?.value">
                            email n'est pas correcte!
                        </div>
                </div>      
        </div>
        </div>


        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="inputPhone4">Numéro de téléphone *</label>
                <input 
                required
                type="phone" 
                class="form-control" 
                id="inputPhone4"
                ngModel
                name="phone"  
                #phone="ngModel"   
                pattern='[- +()0-9]+'        
                /> 
                <div 
                    class="alert alert-danger" 
                    *ngIf="phone.touched &&!phone.valid">
                        <div  *ngIf="phone?.errors?.['required']">
                            enter votre numéro de téléphone!
                        </div>
                        <div *ngIf="phone?.errors?.['pattern']">
                            enter un numéro de téléphone valid!
                        </div>
                </div>    
            </div>
            
            <div class="form-group col-md-6">
                <label for="inputImmatriComm4">Numéro d'immatriculation au registre de commerce *</label>
                <input 
                required
                type="text" 
                class="form-control" 
                id="inputImmatriComm4"
                ngModel
                name="commerceRegisterImm"  
                #commerceRegisterImm="ngModel"           
                /> 
                <div 
                    class="alert alert-danger" 
                    *ngIf="commerceRegisterImm.touched &&!commerceRegisterImm.valid">
                        <div  *ngIf="commerceRegisterImm?.errors?.['required']">
                            enter le nº d'immatriculation au registre de commerce!
                        </div>
                </div>     
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="inputPatente4">Nº de patente *</label>
                <input 
                required
                type="text" 
                class="form-control" 
                id="inputPatente4" 
                ngModel
                name="patenteNumber"  
                #patenteNumber="ngModel"   
                pattern='[- +()0-9]+'        
                /> 
                <div 
                    class="alert alert-danger" 
                    *ngIf="patenteNumber.touched &&!patenteNumber.valid">
                        <div  *ngIf="patenteNumber?.errors?.['required']">
                            enter votre numéro de téléphone!
                        </div>
                        <div *ngIf="patenteNumber?.errors?.['pattern']">
                            enter un numéro de téléphone valid!
                        </div>
                </div>    
            </div>
            
        </div>

        <div class="card-header">
            <b>Pièce jointes</b>
        </div>


        <div class="form-row">
            <div class="form-group form-inline p-2" >
                
                <label for="description_cin_recto" class="form-label p-2">Description</label>
                <input class="form-control " id="description_cin_recto"  name="desc_cin_recto" type="text"  />

                <label for="cin_recto" class="form-label p-2">Fichier recto</label>
                <input 
                required 
                class="form-control" 
                (change)="getRecto($event)" 
                name="cin_recto" 
                ngModel 
                id="cin_recto" 
                type="file"  />

            </div>

            <div class="form-group form-inline p-2">
            
                <label for="description_cin_verso" class="form-label p-2">Description</label>
                <input required class="form-control " id="description_cin_verso" name="desc_cin_verso" type="text" />
            
                <label for="cin_verso" class="form-label p-2">Fichier verso</label>
                <input 
                required 
                class="form-control" 
                (change)="getVerso($event)" 
                name="cin_verso" 
                ngModel 
                observeFiles 
                id="cin_verso"  
                type="file"  />
            
            </div>

        </div>

      

        
        <button 
            [disabled]="!agentProfile.form.valid"
            type="submit" 
            class="btn btn-primary"
            >
            Enregistrer
        </button>
    </form>

   


</div>